
.container{
  max-width: $desktop-max;
  @include desktop-max{
    margin-left: calc((100% - (#{$desktop-max}))/2);
  };
}
.row{
  @include clearfix;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  .col{
    @include clearfix;
    float: left;
    box-sizing: border-box;
    padding: 0 0.75rem;
    margin-bottom: 10px;

    @for $i from 1 through $numerColumns {
      $val: (100% / $numerColumns) * $i;
      &.s#{$i} {
        width: $val;
        margin-left: auto;
      }
    }
    @include  tablet-max {
      @for $i from 1 through $numerColumns {
          $val: (100% / $numerColumns) * $i;
          &.offset-s#{$i}{
            margin-left:$val;
          }
          &.push-s#{$i}{
            margin-right:$val;
          }
      }
    }
    @include tablet{

      @for $i from 1 through $numerColumns {
        $val: (100% / $numerColumns) * $i;
        &.m#{$i} {
          width: $val;
        }
        &.offset-m#{$i}{
          margin-left:$val;
        }
        &.push-m#{$i}{
          margin-right:$val;
        }
      }
    };
    @include desktop{
      @for $i from 1 through $numerColumns {
        $val: (100% / $numerColumns) * $i;
        &.l#{$i} {
          width: $val;
        }
        &.offset-l#{$i}{
          margin-left:$val;
        }
        &.push-l#{$i}{
          margin-right:$val;
        }
      }
    };
  }
}

.hide-s{
  display: none;
  @include tablet{
    display: initial;
  };
}
.show-s{
  display: initial;
  @include tablet{
    display: none;
  };
}
.hide-m{
  @include tablet{
    display: none;
  };
}
.show-m{
  @include tablet{
    display: initial;
  };
}
.hide-l{
  @include desktop{
    display: none;
  };
}
.show-l{
  @include desktop{
    display: initial;
  };
}
